tmp
*.tmp
.DS_Store
.build
*.swp
bin
.idea
.vscode
scenario.json
properties.json
ceph
build.ccache
build.ccache.local
.vagrant
venv
wd/*
wd_sd/*
regular_percentiles_*.png
regular_raw_*.png
regular_stats_*.json
